@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
    background: hsl(225, 100%, 94%);
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: white;
    position:absolute;
    max-width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    transition: box-shadow 2s cubic-bezier(.165, .84, .44, 1);
}

.card:hover,
.card:focus {
  box-shadow: 0 4px 24px 16px hsla(224, 23%, 55%, 0.377);
}

.image {
    border-radius: 24px 24px 0 0;
    max-width: 420px;
}

.info {
    padding: 36px;
}

.title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.details {
    font-weight: 500;
    color:grey;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.plan {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    background-color: hsl(225, 100%, 98%);
    padding: 16px;
    border-radius: 16px;
    align-items: center;
    justify-content: space-between;
}

.planName {
    width: 50%;
    color: grey
}

.planTitle {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

a {
    font-weight: 700;
    color: hsl(245, 75%, 52%)
}

.primary-button {
    background: hsl(245, 75%, 52%);
    color: white;
    padding: 16px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-weight: 700;
    border-radius: 16px;
    text-align: center;
    transition: box-shadow 2s cubic-bezier(.165, .84, .44, 1);
}

.primary-button:hover,
.primary-button:focus {
  box-shadow: 0 2px 24px 2px hsla(0, 0%, 0%, 0.377);
}


.secondary-button {
    color: grey;
    padding: 16px;
    margin: 0 auto;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }